extends base
block content
    main.main
        .form
            .card.bg-light.border-light.mb-3
                .card-header.headingOne.text-left
                    .header-column
                        h2.header-item.header-text Add New Project
                form.form.add_new_project
                    .card-body-wrapper
                        .card-body
                            .form_group
                                label.col-form-label.form_label(for="projectName") Project Name
                                input.form-control#projectName(type='text',name="projectName", placeholder='', autofocus= true, required)
                            .form_group
                                label.col-form-label.form_label Project Source
                                select.form-control#projectSource(name="projectSource", required)
                                    option(value="Fiverr") Fiverr
                                    option(value="Upwork") Upwork
                                    option(value="Pinease") Pinease
                                    option(value="Sitex") Sitex
                                    option(value="Personal") Personal
                            .form_group
                                label.col-form-label.form_label Client Name
                                input.form-control#clientName(type='text',name="clientName", placeholder='', required)
                            .form_group
                                label.col-form-label.form_label Start Date
                                input.form-control#startDate(type='datetime-local', name="startDate" , required)
                            .form_group
                                label.col-form-label.form_label Due Date
                                input.form-control#dueDate(type='datetime-local', name="dueDate" , required)
                            .form_group
                                label.col-form-label.form_label Project Manager
                                select.form-control#projectManager(name="projectManager", required)
                                    option(value="Faheem Abbas") Faheem Abbas
                                    option(value="Kazim Raza") Kazim Raza
                        .card-body
                            .form_group
                                label.col-form-label.form_label Developer(s)
                                .checkbox-wrapper
                                    div.form-check
                                        input.form-check-input#uzair-haider(type="checkbox", name="developers", value="Uzair Haider")
                                        label.form-check-label(for="uzair-haider") Uzair Haider
                                    div.form-check
                                        input.form-check-input#hasnain-raza(type="checkbox", name="developers", value="Hasnain Raza")
                                        label.form-check-label(for="hasnain-raza") Hasnain Raza
                                    div.form-check
                                        input.form-check-input#muhammad-karrar(type="checkbox", name="developers", value="Muhammad Karrar")
                                        label.form-check-label(for="muhammad-karrar") Muhammad Karrar
                                    div.form-check
                                        input.form-check-input#ali-hadi(type="checkbox", name="developers", value="Ali Hadi")
                                        label.form-check-label(for="ali-hadi") Ali Hadi
                                    div.form-check                            
                                        input.form-check-input#majid-ali(type="checkbox", name="developers", value="Majid Ali")
                                        label.form-check-label(for="majid-ali") Majid Ali
                                    div.form-check
                                        input.form-check-input#shahzaib-habib-ansari(type="checkbox", name="developers", value="Shahzaib Habib Ansari")
                                        label.form-check-label(for="shahzaib-habib-ansari") Shahzaib Habib Ansari
                            .form_group
                                label.col-form-label.form_label Platform
                                select.form-control#platform(name="platform", required)
                                    option(value="Wordpress") Wordpress
                                    option(value="Shopify") Shopify
                                    option(value="Zendesk") Zendesk
                            .form_group
                                label.col-form-label.form_label Theme
                                input.form-control#theme(type='text', name="theme", placeholder='', required)
                            .form_group
                                label.col-form-label.form_label Plugin(s)
                                input.form-control#plugins(type='text', name="plugins", placeholder='', required)
                            .form_group
                                label.col-form-label.form_label Status
                                select.form-control#status(name="status", required)
                                    option(value="Started") Started
                                    option(value="Completed") Completed
                                    option(value="Delivered") Delivered
                            .form-group
                                label.col-form-label.form_label Work Progress
                                select.form-control#workProgress(name="workProgress", required)
                                    option(value="On Track") On Track
                                    option(value="Delayed") Delayed
                                    option(value="Paused") Paused
                                    option(value="Finished") Finished
                            .form_group
                                input.btn.btn-primary#submit-btn(type="submit", value="Add Project")