extends base
block content
    main.main
        .card_container
            each user in users
                .card
                    h2= user.name
                    h4= user.userName
                    h4= user.email
                    p= user.role
